.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;

}

h1 {
  font-size: 30px;

}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.input-text {
  height: 35px;
  width: 250px;
  font-size: 20px;
  border-radius: 7px;
}

.input-btn {
  height: 35px;
  width: 150px;
  border-radius: 7px;
  font-size: 20px;
  cursor: pointer;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  /* background: grey; */

}

.titulo2 {
  text-align: center;
}

.tasks-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: red; */
}

.list-span {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: red; */
  flex-wrap: wrap;
  padding: 3px;
  width: 500px;
  min-height: 30px;
  border-radius: 15px;
  border: red solid 2px;
  gap: 15px;

}

.span-list {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  width: 250px;
  margin: 5px;


}

.btn-form {
  height: 35px;
  width: 80px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-borrar-todo {
  height: 35px;
  width: 130px;
  border-radius: 5px;
  cursor: pointer;
  /* font-size: 15px; */
  font-weight: 600;
  overflow-wrap: break-word;
  margin-bottom: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 767px) {

  .list-span {
    text-align: center;
    width: 250px;

  }

}